@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
body{
  min-height:100vh;
  background:linear-gradient(#000000,#808080);
  text-decoration: none;
  color: #FFFFFF;
}

header{
  position: absolute;
  Top:0;
  left:0;
  width:80%;
  padding: 30px 100px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}
header .logo{
  color: #FFFFFF;
  font-weight:700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul{
  display:flex;
  justify-content: left;
  align-items:left;
}
header ul li{
  list-style: none;
  margin-left:20px;
}
header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #FFFFFF;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
  background:#FFFFFF;
  Color:#000000;
}
.container{
  width:90%;
  Margin:20px auto;
  Padding:100px;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.box{
  width:250px;
  margin:0 10px;
  box-shadow:0 0 20px 2px rgba(0,0,0,.1);
  transition:1s;
}
.box img{
  display:block;
  width:100%;
  border-radius:5px;
}
.box:hover{
  transform:scale(1.3);
    z-index:2;
}
div{
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  color: #FFFFFF;
}
